.message {
    display: flex;
    align-items: flex-end;
    background-color: #f6e452;
}

.img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.angle {
    height: 15px;
    width: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(255, 255, 255, 0.3) 0)
}

.content {
    padding: 10px;
    border-radius: 5px 5px 5px 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.name {
    color: #c680e7;
    font-size: 14px;
    font-weight: bold;
}

.text {
    color: #292b29;
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
}

.time {
    color: #63855c;
    display: flex;
    justify-content: flex-end;
}